.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:0 40px;
  color:#555555;
}
.addStudent{
  background:#FFFCFB;
  border:1px solid #FF2108;
  margin: 5px;
  padding:20px 30px 50px 10px;
}

.manageStudent{
  background:#FFFCFB;
  border:1px solid #FF2108;
  margin: 5px;
  padding:20px 30px 100px 10px;
}
  

.sidebar:hover{
  background:#FF2108;
  color:white;
  border-radius: 5px;
}

.addStudent_heading{
  margin-left: 15px;
  color:#555555
}

.manageStudent_heading{
  margin-left: 5px;
  color:#555555
}


